<{includeq file='db:analytics_header.html'}>

<{if $analytics_engine}>
	<div id="analytics-engine-container">
		<h1><{$analytics_engine.name}></h1>
		<div><b><{$smarty.const._CO_ANALYTICS_ENGINE_USER_AGENT}></b>: <{$analytics_engine.user_agent}></div>
		<div><b><{$smarty.const._CO_ANALYTICS_ENGINE_DOMAIN}></b>: <{$analytics_engine.domain}></div>
		<div><b><{$smarty.const._CO_ANALYTICS_ENGINE_IP_START}></b>: <{$analytics_engine.ip_start}></div>
		<div><b><{$smarty.const._CO_ANALYTICS_ENGINE_IP_END}></b>: <{$analytics_engine.ip_end}></div>
		<div><b><{$smarty.const._CO_ANALYTICS_ENGINE_QUERY_VAR}></b>: <{$analytics_engine.query_var}></div>

	</div>
<{/if}>
<{if $analytics_engine_table}>
	<h1><{$analytics_title}></h1>
	<{$analytics_engine_table}>
<{/if}>

<{includeq file='db:analytics_footer.html'}>